@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

/* ---------------- CSS RESET ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Alkatra", cursive;
  /*color: white;*/
  text-align: center;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

/* ----------------------------------------------*/

